# Backend App Configuration
PORT=8080
GIN_MODE=debug
JWT_SECRET=veterinaria_super_secret_jwt_key_2026

# Database Configuration (PostgreSQL)
DB_HOST=veterinaria_db
DB_PORT=5432
DB_USER=veterinaria_user
DB_PASSWORD=veterinaria_pass123
DB_NAME=veterinaria_erp
DB_SSLMODE=disable

# Cache Configuration (Redis)
REDIS_HOST=veterinaria_redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Frontend Configuration
VITE_API_BASE_URL=/api/v1
